.messages-container {
  flex: 0 1 69%;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.messages-wrapper {
  overflow-y: scroll;
  max-height: 74vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.messages-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}