.input-wrapper {
  padding: 16px 0 0 0
}

.input-buttons{
  display:flex;
  justify-content: space-between;
  margin-top: 4px;

  button{
    border: none;
    background:inherit;
    cursor: pointer;
  }
}