.paper{

  &-border {
    &--top{
      box-shadow: 0px 0px 0px -1px rgba(32, 31, 30, 0.12) inset;
    }
    &--bottom{
      box-shadow: 0px -1px 0px 0px rgba(32, 31, 30, 0.12) inset;
    }
    &--left{
      box-shadow: 0px 0px -1px 0px rgba(32, 31, 30, 0.12) inset;
    }
    &--right{
      box-shadow: -1px 0px 0px 0px rgba(32, 31, 30, 0.12) inset;
    }
  }
}