.system-message {
  background:  rgba(64, 126, 201, 0.08);
  text-align: center;
  margin: 0 auto; 
  padding: 5px 12px;
  border-radius: 4px;

  span {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; 
    color: #201F1E;
  }
}